.reg {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;



  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #6a392b;

    img {
      max-width: 60%;
      height: auto;
    }
  }

  &__form {
    width: 45%;

    &__group {
      display: flex;
      margin-top: 2.5rem;
    }

      h2 {
      margin-top: 1.2rem;
    }
  }

}

