@import '../variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  min-height: 45px;
  background-color: $cart-button;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  @include noselect();

  &:focus {
    background-color: orange;
  }


  &--exit {
    background-color: transparent;

    p {
      transition: all .1s linear !important;

      &:hover {
        color: darken(lawngreen, 12%) !important;
      }
    }

    &:hover {
      background: none !important;
    }

  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 4px;
    color: orange;
    width: 140px;
    height: 40px;
    padding: 5px 8px;
    margin-top: 15px;
    transition: all .1s ease-in-out;

    &:focus {
      background-color: transparent;
    }

    &:hover {
      border: 2px solid darken(lawngreen, 12%) !important;
      background-color: transparent !important;
    }

    &:hover p {
      color: darken(lawngreen, 12%) !important;
      background-color: transparent !important;

    }

    .price {
      display: flex;

      &__number {
        display: flex;
        color: orange;
        font-size: 23px;
        font-weight: 500;

        p {
          color: orange;
          font-size: 0.68em;
          line-height: 1;
          vertical-align: top;
        }

      }

      &__nom {
        color: orange;
        font-size: 23px;
        font-weight: 500;
        margin-left: 5px;
      }

      &__plus {
        display: flex;
        align-items: center;
        justify-content: center;


        p {
          color: orange;
          font-size: 35px;
          font-weight: 500;
          padding-bottom: 5px;

        }
      }
    }
  }

  &--modalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: black !important;

    &:hover {
      background-color: transparent !important;
      color: darken(lawngreen, 15%) !important;
    }
  }

  &__modalFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;


    h3 {
      font-weight: 500;
      font-size: 20px;

      color: $white !important;
    }
  }

  &__active {
    background-color: darken(lawngreen, 15%) !important;
    color: #f3f3f3 !important;

    &:hover {
      background-color: darken(lawngreen, 15%) !important;
      color: #f3f3f3 !important;
    }
  }


  &--register {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    height: 50px;

  }

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken(lawngreen, 15%);
  }

  &:active {
    background-color: lawngreen;
    transform: translateY(1px);
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }


  &--cart {
    display: flex;
    transition: all .1s linear;
    min-width: 150px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    line-height: 23px;
    padding: 8px 10px;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }

  &--goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    border: 2px solid gray;
    background-color: transparent;

    span {
      color: gray !important;
      margin-left: 10px;
    }

    a {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: #181818 !important;

      span {
        color: $white !important;
      }
    }
  }

  &--addLocal {
    min-width: 50px;
    min-height: 50px;
    padding: 10px;
    border-radius: 15px;
  }

  &--removeLocal {
    border-radius: 15px;
    min-width: 50px;
    min-height: 50px;
    background-color: #181818;
  }

}

@media (max-width: 654px) {

  .button {
    padding: 10px 15px !important;
    min-width: 60px;
    min-height: 35px;

    &--disabled {
      background: transparent;
      width: 100%;
      height: 100%;
      font-weight: 500;
      color: black !important;

      p {
        font-size: 14px;
      }
    }

    &--item {
      width: 120px;
      height: 35px;

      &:focus {
        background-color: transparent;
      }

      &:hover {
        border: 2px solid darken(lawngreen, 12%) !important;
        color: darken(lawngreen, 12%) !important;
        font-size: 50px;

      }

      .price {

        &__number {
          color: orange;
          font-size: 18px;
          font-weight: 500;

          span {
            color: orange;
            font-size: 15px;
            line-height: 1;
            vertical-align: top;
          }

        }

        &__nom {
          color: orange;
          font-size: 18px;
          font-weight: 500;
          margin-left: 5px;
        }

        &__plus {
          display: flex;
          align-items: center;
          justify-content: center;


          p {
            color: orange;
            font-size: 28px;
            font-weight: 500;
            padding-bottom: 5px;

          }
        }
      }
    }


    &--exit {
      background-color: orange;
      padding: 5px 5px;
      border-radius: 5px;

      &:hover {
        background-color: orange !important;
      }

      p {
        color: white;

        &:hover {
          color: white !important;
        }
      }

    }

    &__modalFooter {
      width: 100%;

      h3 {
        font-weight: 500;
        font-size: 20px;
        color: $white !important;
      }
    }

    &--goBack {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      border: 2px solid gray;
      background-color: transparent;

      span {
        color: gray !important;
        margin-left: 10px;
      }

      a {
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: #181818 !important;

        span {
          color: $white !important;
        }
      }
    }

    &--addLocal {
      min-width: 50px;
      min-height: 50px;
      padding: 0px !important;
      border-radius: 15px;
    }

    &--removeLocal {
      margin-top: 20px;
      border-radius: 15px;
      min-width: 80px;
      min-height: 60px;
      background-color: #181818;
    }
  }
}
