@import '../variables';

.button {
  display: inline-block;
  background-color: $cart-button;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  min-height: 45px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  @include noselect();

  &--exit {
    background-color: transparent;


    p {
      transition: all .1s linear!important;

      &:hover {
        color: darken(lawngreen, 12%)!important;
      }
    }

    &:hover {
      background: none!important;
    }

  }

  &--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:transparent;
    border: 2px solid orange;
    border-radius: 4px;
    color: orange;
    width: 140px;
    height: 40px;
    padding: 5px 8px;
    margin-top: 15px;

    &:hover {
      background: none!important;
    }

    .price {

      &__number {
        color: orange;
        font-size: 23px;
        font-weight: 500;

        span {
          color: orange;
          font-size: 0.68em;
          line-height: 1;
          vertical-align: top;
        }

      }

      &__nom {
        color: orange;
        font-size: 23px;
        font-weight: 500;
        margin-left: 5px;
      }

      &__plus {
        display: flex;
        align-items: center;
        justify-content: center;


        p {
          color: orange;
          font-size: 35px;
          font-weight: 500;
          padding-bottom: 5px;

        }
      }
    }
  }

  &--disabled {
    background: transparent;
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: black!important;

    &:hover {
      background-color: transparent!important;
      color: darken(lawngreen, 15%)!important;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;



    h3 {
      font-weight: 500;
      font-size: 20px;

      color: $white!important;
    }
  }

  &__active {
    background-color: darken(lawngreen, 15%)!important;
    color: #f3f3f3!important;

    &:hover {
      background-color: darken(lawngreen, 15%)!important;
      color: #f3f3f3!important;
    }
  }


  &--register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50px;

  }

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken(lawngreen, 15%);
  }

  &:active {
    background-color: lawngreen;
    transform: translateY(1px);
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    background-color: #fff;
    border-color: $cart-button;
    &,
    span {
      color: $cart-button;
    }

    svg {
      path {
        fill: $cart-button;
      }
    }

    &:hover {
      background-color: $cart-button;

      &,
      span {
        color: #fff;
      }
    }

    &:active {
      background-color: darken($cart-button, 8%);
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  &--add {
    svg {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      i {
        background-color: #fff;
        color: $orange;
      }
    }

    i {
      display: inline-block;
      border-radius: 30px;
      background-color: $orange;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      position: relative;
      top: -1px;
      left: 3px;
    }
  }

  &--cart {
    display: flex;
    transition: all .1s linear;
    width: 130px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    line-height: 23px;
    padding: 8px 10px;

    svg {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

@media (max-width: 654px) {

  .button {
    padding: 5px 10px!important;
    min-width: 60px;
    min-height: 35px;
  }

  .button--exit {
    background-color: orange;
    padding: 5px 5px;
    border-radius: 5px;

    &:hover {
      background-color: orange!important;
    }

    p {
      color: white;

      &:hover {
        color: white!important;
      }
    }

  }

}
