@import '../variables';

.slider__container {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $main-background;
  overflow: hidden;
}

.sliderMain {
  max-width: $container-width;
  margin: 0 auto;
  position: relative;

  &__block {
    cursor: pointer;

    img {
      max-width: 570px;
      max-height: 330px;
      border-radius: .5rem!important;
      transition: all .2s linear;
    }
  }
}




@media (max-width: 765px) {

  .slider__container {
    padding-top: 0;
  }
}





