@import '../variables';

.modalMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($modal-background, .8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;


  &__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 690px;
    background-color: $white;
    border-radius: 15px;
    padding: 30px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    animation: modal__windowOpen .3s ease forwards;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__cancel {
      padding: 4px;
      margin-left: auto;
      cursor: pointer;
      transition: all .1s linear;

     &:hover {
       fill: darken(lawngreen, 15%);
     }

      &:active {
        transform: translateY(-1px);
      }

    }
  }

  &__group {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
    background-color: $main-background;
    border-radius: 25px;
    margin-left: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 3rem;

    h3 {
      width: 350px;
      line-height: 28px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .accept {
      width: 450px;
    }
  }
}


.regModal {
  width: 100%;
  margin-top: 5rem;

  .input-field {
    padding: 0!important;
  }

  &__input {
    border-bottom: 1px solid darken(lightgray, 15%)!important;
    &:focus {
      border-bottom: 1px solid darken(lawngreen, 15%)!important;
      box-shadow: 0 1px 0 0 darken(lawngreen, 15%)!important;
    }
  }

  &__input + label {
    color: darken(lightgray, 15%) !important;
  }
  &__input:focus + label {
    color: darken(lawngreen, 15%) !important;
  }
}

/* animation */
.fade-enter-active {
  animation: slideUp 600ms forwards;
}

.fade-exit-active {
  animation: slideDown 600ms forwards;
}


@keyframes modal__windowOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    transform: translateX(1000px);
  }

}

@media (max-width: 884px) {

  .modalMain__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    border-radius: 15px;
    background-color: #fdfdfd;
    padding: 30px;
    overflow-y: scroll;
    animation: modal__windowOpen .3s ease forwards;
  }

  .modalMain__header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    &__cancel {
      width: 30px!important;
      height: 30px!important;
      padding: 4px;
      margin-left: auto;
      cursor: pointer;
      transition: all .1s linear;

      &:hover {
        fill: darken(lawngreen, 15%);
      }

      &:active {
        transform: translateY(-1px);
      }

    }
  }

  .modalMain__body {
    width: 100%;

    h1 {
      font-size: 30px;
    }

    h3 {
      width: 350px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .modalMain__footer {
    .accept {
      width: 100%;
    }
  }


}

@media (max-height: 884px) {

  .modalMain__window {
    overflow-y: scroll;
  }

  .modalMain__body {


    h1 {
      font-size: 30px;
    }

    h3 {
      width: 350px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .modalMain__footer {
    .accept {
      width: 100%;
    }
  }
}



