.navbarMain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 90px;
  padding: 0;
  overflow: hidden;

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 2px !important;


    li {
      display: flex;
      align-items: center;
      height: 100%;
      font-weight: 600;
      margin-left: 1.5rem !important;
      transition: all .1s ease-in-out;
      cursor: pointer;

      &:hover {
        color: darken(lawngreen, 15%);
      }

      &.active {
        box-shadow: 0px 2px 0px 0px rgba(131, 175, 60, 0.75);
      }
    }
  }

  .navBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: auto;

    p {
      font-weight: 600;
      transition: color .3s ease-in-out;
    }

    &:hover p {
      color: darken(lawngreen, 12%);
    }

    &:hover .toggler__dot div {
      background-color: darken(lawngreen, 12%);
    }

    .toggler__dot {
      display: flex;
      width: 30px;

      div {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: 1px;
        background-color: orange;
        transition: background-color .3s ease-in-out;
      }
    }
  }
}

/* animation */
.navbarAnima-enter-active {
  animation: slideNavUp 500ms forwards;
}

.navbarAnima-exit-active {
  animation: slideNavDown 500ms forwards;
}

@keyframes slideNavOpacity {
  0% {

    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes slideNavUp {
  0% {
    transform: translateY(50px);

  }

  100% {
    transform: translateY(0);

  }

}

@keyframes slideNavDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }

}

@media (max-width: 1261px) {

  .navbarMain {
    display: none;
  }

}



