@font-face {
  font-family: 'Rotonda';
  src: url('./fonts/Rotonda.eot');
  src:
  url('./fonts/Rotonda.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Rotonda.woff') format('woff'),
  url('./fonts/Rotonda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flame';
  src: url('./fonts/Flame-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flame-Regular';
  src: url('./fonts/Flame-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlameSans-Regular';
  src: url('./fonts/FlameSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

