$black: #232323;
$white: #ffffff;
$cart-button: #ff9900;
$main-background: #f3f3f3;
$content-menu: #8989a8;
$modal-background: #fce7c9;
$work-text: #602403;
$work-vacancy: #fdfdfd;
$footer-background: #222222;
$footer-text: #b2b1b1;

$activeLi: #ffe7c3;
$border-bottom: lightgray;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 1340px;

$duration: 0.15s;
