@import './variables';
@import 'libs/normalize';
@import 'components/all';
@import './fonts';



html, body {
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $main-background;
  overflow: hidden;
}

.containerMain {
  position: relative;
  max-width: $container-width;
  margin: 0 auto;


  &--cart {
    max-width: 820px;
    margin: 0 auto;

    .content__title {
      margin: 0;
    }
  }
}


.content {
  flex-grow: 1 !important;
  width: 100%;
  position: relative;
  background-color: $main-background;


  &__top {
    width: 100%;
    background-color: $white;
    box-shadow: 0px 2px 20px 0px rgba($black, 0.05);
    transition: all .3s linear;
    z-index: 100;

    &.fixedBlock {
      position: fixed;
      top: 4.5rem;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      min-height: 70px;
      padding: 0 30px;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 3px;
          padding: 6px 10px 10px;
          border-radius: 40px;
          font-size: 16px;
          line-height: 19px;
          white-space: nowrap;
          color: $content-menu;
          cursor: pointer;
          transition: all .1s ease-in-out;

          &.activeLi {
            background-color: $activeLi;
          }

          &:hover {
            background-color: $activeLi;
          }
        }
      }
    }
  }

  &__mid {
    max-width: 1200px;
    margin: 0 auto 50px auto;

    &__title {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 80px;
    }

    .category {
      margin-top: 70px;

      &__title {
        margin-left: 70px;
        font-size: 50px;
        line-height: 60px;
      }

      &__items {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        width: 240px;
        margin: 30px 72px 10px;

        .item__img {
          position: relative;
          transform: translateY(0);
          transition: transform 1s;
          width: 240px;
          height: auto;
          margin-bottom: 30px;
          cursor: pointer;

          //&::after {
          //  content: "";
          //  display: block;
          //  position: absolute;
          //  bottom: -10px;
          //  left: 50%;
          //  height: 8px;
          //  z-index: 1;
          //  width: 100%;
          //  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          //  border-radius: 50%;
          //  background-color: rgba(0, 0, 0, 0.2);
          //  transform: translate(-50%, 0);
          //  transition: transform 1s;
          //}

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &:hover .item__img {
          transform: translateY(-10px);
          transition: transform 1s;
        }

        &:hover .item__img::after {
          transform: translate(-50%, 10px) scale(0.85);
          transition: transform 1s;
        }

        .item__content {
          .item__title {
            margin-top: 15px;

            h3 {
              font-size: 20px;
              font-weight: 300;
            }
          }
        }

      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}


.cart {
  padding: 70px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }

      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid $gray-line;
    padding-top: 30px;
    margin-top: 30px;

    &-img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 10%;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      margin-left: 1rem;


      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }
      }

      b {
        font-size: 22px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }

        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $cart-button;
          }
        }
      }
    }
  }

  &--empty {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    icon {
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      width: 100%;
      margin: 45px auto 60px;
    }

  }
}

@media (max-width: 765px) {

  .content__top {
    width: 100%;
    background-color: transparent;
    box-shadow: none;


    &.fixedBlock {
      position: fixed;
      background-color: $white;
      top: 4.5rem;
    }

    &__menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 70px;
      padding: 0 30px;


      ul {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        overflow-x: hidden;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 3px;
          padding: 6px 10px 10px;
          border-radius: 40px;
          font-size: 16px;
          line-height: 19px;
          white-space: nowrap;
          cursor: pointer;

          &.activeLi {
            background-color: $activeLi;
          }

          &:hover {
            background-color: $activeLi;
          }
        }
      }
    }
  }


  .content__mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;


    &__title {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 80px;
    }

    .category {
      width: 90%;
      margin-top: 0;
      padding: 50px 0;
      border-bottom: 1px solid $border-bottom;


      &__title {
        margin-left: 0;
        font-size: 30px;
        line-height: 60px;
      }

      &__items {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;

      }

      &__item {
        display: flex;
        width: 100%;
        margin: 30px 0px 10px;

        .item__img {
          width: auto;
          height: auto;

          img {
            width: 120px;
            height: 120px;
            object-fit: contain;
          }

        }

        .item__content {
          margin-left: 10px;


          .item__title {
            margin-top: 20px;

            h3 {
              font-size: 18px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }


  .content__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;

    &__top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .content__title {
        font-size: 32px;
      }

      .cart__clear {
        margin-top: 25px;

        span {
          font-size: 18px;
        }
      }
    }


    &--empty {
      margin: 0 auto;
      max-width: 560px;
      text-align: center;

      h2 {
        width: 250px;
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 145.4%;
        letter-spacing: 0.01em;
        color: #777777;
      }

      icon {
        position: relative;
        top: 2px;
      }

      img {
        display: block;
        width: 100%;
        margin: 45px auto 60px;
      }
    }


    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-top: 1px solid $gray-line;
      padding-top: 30px;
      margin-top: 30px;

      &-img {
        display: flex;
        align-items: center;
        margin-right: 0;
        width: 200px;

        img {
          width: 100%;
          height: auto;
        }
      }

      &-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-bottom: 1.2rem;
        margin-top: 1rem;
        margin-left: 0;

        h3 {
          width: 200px;
          font-weight: bold;
          font-size: 28px;
          line-height: 27px;
          letter-spacing: 0.01em;
        }

      }

      &-count {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;

        &-minus {
          svg {
            path:first-of-type {
              display: none;
            }
          }
        }

        b {
          padding: 10px;
          font-size: 32px;
        }
      }

      &-price {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        b {
          font-weight: bold;
          font-size: 32px;
          letter-spacing: 0.01em;
        }
      }

      &-remove {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .button {
          border-color: darken($color: $gray-line, $amount: 10);
        }

        svg {
          transform: rotate(45deg);

          path {
            fill: darken($color: $gray-line, $amount: 15);
          }
        }

        .button {
          svg {
            width: 11.5px;
            height: 11.5px;
            position: relative;
          }

          &:hover,
          &:active {
            border-color: darken($color: $gray-line, $amount: 80);
            background-color: darken($color: $gray-line, $amount: 80);
          }
        }
      }
    }


    &__bottom {
      margin: 50px 0;

      &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90px;
        margin-top: 30px;
      }

      &-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        span {
          font-size: 22px;

          &:last-of-type {
            b {
              color: orange;
            }
          }
        }
      }
    }
  }
}
